.cv-preview {
    flex-direction: column;
    --gap: 4rem;
    background-color: hsl( var(--clr-light) );
    padding: 2rem;
    min-height: 90vh;
    width: 100%;
}

.general-info {
    flex-direction: column;
    align-items: center;
    background-color: hsl( var(--clr-accent-1) );
    padding: 2rem;
    --gap: 1rem;
}

.general-info .other-info {
    --gap: 6rem;
}

.other-info i {
    margin-right: .7rem;
}

.cv-preview .info {
    flex-direction: column;
    --gap: 2rem;
}

.cv-preview .section .heading {
    text-align: center;
    background-color: hsl( var(--clr-accent-1) );
    margin-bottom: 2rem;
    padding-block: .4rem;
}

.about {
    flex-direction: column;
    --gap: .3rem;
}

.title {
    flex-direction: column;
    --gap: 0;
}

