.form-section {
    padding: 1rem;
    max-width: 100%;
    border-radius: 10px;
    background-color: rgb(65, 63, 63);
}

.form-section input {
    border-radius: 4px;
}

.form-section form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}