.form-section {
    padding: 1rem;
    max-width: 100%;
    border-radius: 10px;
    background-color: rgb(65, 63, 63);
}

.form-section input {
    border-radius: 4px;
}

.form-section form {
    flex-direction: column;
    --gap: .7rem;
}

.form-section .heading {
    margin-bottom: 1rem;
}

.form-section form input {
    border-radius: 7px;
    background-color: rgb(121, 119, 119);
    border: none;
    padding-inline: .5rem;
    padding-block: .2rem;
    color: #ffff;
}

.form-section form input::placeholder {
    color: #ffff;
    font-weight: 300;
    font-size: 14px;
    opacity: .6;
}

.form-section button {
    border-radius: 10px;
    border: none;
    background-color: rgb(54, 120, 227);
    color: #ffff;
    padding: .2rem .5rem;
    cursor: pointer;
}

.form-section form button {
    align-self: end;
    margin-top: 1rem;
}

.form-section .add-btn {
    margin-top: 0rem;
}

.general-section.flex {
    justify-content: space-between;
    align-items: center;
}

.general-section.flex .heading {
    margin-bottom: 0px;
}

.form-section:not(.general-section) {
    flex-direction: column;
}





.entries-section {
    flex-direction: column;
}

.entry {
    justify-content: space-between;
}